<h2>Recibo de Reserva/Renta</h2>
<div>
  <b>Nombre:</b> {{nombre}}<br>
  <b>Habitación:</b> {{habitacion_id}}<br>
  <b>Tipo:</b> {{tipo}}<br>
  <b>Entrada:</b> {{fecha_ingreso}}<br>
  <b>Salida:</b> {{fecha_salida}}<br>
  <b>Monto:</b> ${{monto}}<br>
  <b>Monto en letras:</b> {{monto_letras}}<br>
  <b>Tipo de pago:</b> {{pago}}<br>
</div>
<div>
  <button onclick="window.print()">Imprimir</button>
</div>
