{{!-- filepath: /home/manuel_ramirez/Desktop/dev-project-pubicidad-cristian/Restaurante-Cristinan-Faro/project-residency-hotel-club/src/modules/rooms/views/rentas.hbs --}}
<h2>Rentas</h2>
<table border="1">
  <thead>
    <tr>
      <th>Cliente</th>
      <th>Habitación</th>
      <th>Fecha Ingreso</th>
      <th>Fecha Salida</th>
      <th>Tipo de Pago</th>
      <th>Monto</th>
      <th>Monto en Letras</th>
    </tr>
  </thead>
  <tbody>
    {{#each rentas}}
      <tr>
        <td>{{nombre_cliente}}</td>
        <td>{{habitacion_id}}</td>
        <td>{{fecha_ingreso}}</td>
        <td>{{fecha_salida}}</td>
        <td>{{tipo_pago}}</td>
        <td>${{monto}}</td>
        <td>{{monto_letras}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
