<div class="rooms-interface">
  <header>
    <h1>Rooms</h1>
  </header>

  <section class="rooms-list">
    {{#if rooms.length}}
      <ul>
        {{#each rooms}}
          <li class="room">
            <h2>{{name}}</h2>
            <p>{{description}}</p>
            <p>Capacity: {{capacity}}</p>
            <p>Price: ${{price}}</p>
          </li>
        {{/each}}
      </ul>
    {{else}}
      <p>No rooms available.</p>
    {{/if}}
  </section>
</div>
